:root {
    --col :  #30bf04;
    --wid : 0px;
    --hei : 55px
}

* {
    display: inline-block;
}

body {
    background-color:#6abadeba;

}

.timeAxis {
    height: 4px;
    background-color: black;
    width: calc(60vw - 12px);
    position: absolute;
    top: calc(25% - 20px);
    left: calc(20vw + 28px);
}

.leftSide {
    height: 10px;
    background-color: black;
    width: 4px;
    position: absolute;
    top: calc(25% - 22px);
    left: calc(20vw + 28px);
} 

.oneH {
    position: absolute;
    top: calc(25% - 45px);
    left: calc(20vw + 24px);
}

.middleSide {
    height: 10px;
    background-color: black;
    width: 4px;
    position: absolute;
    top: calc(25% - 22px);
    left: calc(50vw + 22px);
}

.twoH {
    position: absolute;
    top: calc(25% - 45px);
    left: calc(50vw + 14px);
}


.rightSide {
    height: 10px;
    background-color: black;
    width: 4px;
    position: absolute;
    top: calc(25% - 22px);
    left: calc(80vw + 16px);
}

.limit{
    height: 50vh;
    background-color: rgba(0, 0, 0, 0);
    border: 2px dotted black;
    width: 0px;
    position: absolute;
    top: 25%;
    left: calc(80vw + 16px);
}

.threeH {
    position: absolute;
    top: calc(25% - 45px);
    left: calc(80vw + 8px);
}

.barsContainer {
    width: 60vw;
    height: 50vh;
    border-width: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    top: 25%;
    /* bottom: 25vh; */
    left: 20vw;
    /* right: 25vw; */
    overflow-y: scroll;
}
.bar {
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
    border-radius: 10px;
    /* -webkit-box-decoration-break: slice;
    -o-box-decoration-break: slice;
    box-decoration-break: slice; */
    /* font-size: 2px; */

}

.bar:hover {
    filter: brightness(0.7);
}

.dots {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: var(--hei);
    visibility: visible;
}

.dotV{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}

.dotS{
    height: 6px;
    width: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #00000000;
    border-radius: 50%;
}

.dotF{
    height: 10px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.dotV:hover {
    background-color: aqua;
}

.dotS:hover {
    background-color: aqua;
}

.btn {
    height: 40px;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    color: white;
}

.dateBtn {
    width: 60vw;
    /* height: 50px;
    border-width: 8px;
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    padding: 20px; */
    position: absolute;
    top: 10%;
    /* bottom: 25vh; */
    left: 40vw;
    /* right: 25vw; */
}

/* .bar0 {
    height: 50px;
    width: var(--wid);
    background-color: var(--col);
} */
