:root {
    --col :  #30bf04;
    --wid : 0px;
    --hei : 55px
}

* {
    display: inline-block;
}

/* body {
    width: 90vw;
    border: 5px solid black;
    padding: 20px;
    margin: 50px;
} */

.bar {
    /* border-style: solid;
    border-width: 1px;
    border-color: black; */
    border-radius: 10px;
    /* -webkit-box-decoration-break: slice;
    -o-box-decoration-break: slice;
    box-decoration-break: slice; */
    /* font-size: 2px; */

}

.bar:hover {
    filter: brightness(0.7);
}

.dots {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: var(--hei);
    visibility: hidden;
}

.dotV{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}

.dotS{
    height: 6px;
    width: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: #00000000;
    border-radius: 50%;
}

.dotF{
    height: 10px;
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

.dotV:hover {
    background-color: aqua;
}

.dotS:hover {
    background-color: aqua;
}

.btn {
    height: 80px;
    width: 200px;
    font-size: 40px;
    font-weight: bold;
}

.btn:hover {
    background-color: black;
    color: white;
}

/* .bar0 {
    height: 50px;
    width: var(--wid);
    background-color: var(--col);
} */
